* {
	margin: 0 auto;
}

h1,
h3 {
	font-family: 'Roboto', sans-serif;
}

p,
a,
button {
	font-family: 'Montserrat', sans-serif;
}


/*
font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

iframe {
	border: none;

}

/* iframe:hover {} */

/*
-webkit-clip-path: inset(15% 0 15% 0);
clip-path: inset(15% 0 15% 0);
*/

body {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-row-gap: 5vh;
}

#splash {
	grid-row: 1/3;
	/*	height: 50vh;*/
	overflow: hidden;
}

.text_intro {
	grid-row: 3/4;
	padding: 5px 30px;
}

#game {
	grid-row: 4/7;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
}

.headline_game {
	grid-column: 2/3;
	grid-row: 1/2;

	margin: 3vh 0px;
	text-align: center;
}

.iframe_game {
	grid-column: 2/3;
	grid-row: 2/3;
}

#game iframe {
	width: 350px;
	height: 350px;
}

#video {
	grid-row: 7/9;
}

.headline_video {
	grid-row: 7/8;
	margin: 3vh 0px;
	text-align: center;
}

.wrapper_video {
	grid-row: 8/9;

	display: grid;

}

.iframe_video {
	width: 300px;
	height: 300px;
	margin-top: 10%;
}

#infographic {
	grid-row: 9/11;
	display: grid;
	grid-template-rows: 1fr 2fr 1fr;
	grid-template-columns: repeat(3, 1fr);
}

.headline_infographic {
	grid-row: 1/2;
	grid-column: 2/3;
	align-self: center;
}

.img_info {
	grid-row: 2/3;
	grid-column: 2/3;
	height: auto;
	width: 100vw;
}

.info_link {
	grid-row: 3/4;
	grid-column: 2/3;
	align-self: center;
}

.info_btn {
	display: inline-block;
	height: 4rem;
	width: 8rem;
	/*	padding: 0.46em 1.6em;*/
	border: 0.1rem solid #b1b1b1;
	margin: 0 0.2em 0.2em 0;
	border-radius: 0.12em;
	box-sizing: border-box;
	text-decoration: none;
	font-weight: 300;
	font-size: 1rem;
	color: #b1b1b1;
	text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
	background-color: #FFFFFF;
	text-align: center;
	transition: all 0.15s;
}

.info_btn:hover {
	text-shadow: 0 0 2em rgba(255, 255, 255, 1);
	color: #000000;
	border-color: #000000;
}





/*********************NAVIGATION START******************/
.burger {
	cursor: pointer;
	background: #fff;
	border: none;
	font-size: 25px;
	width: 3rem;
	height: auto;
	border-radius: 5%;
	margin: 0.5rem;

	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 10;
}

nav {
	max-height: 0px;
}

#my_navbar {
	display: grid;
	grid-template: 1fr 1fr 1fr 1fr 1fr/1fr 2fr 1fr;


	overflow: hidden;
	transition: 0.6s;

	background-color: #333;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 100%;
}

.show {
	max-height: 1000px;
}

.navbar a {
	cursor: pointer;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.nav {
	grid-column: 2/3;
}

.navbar a:hover {
	background-color: #ddd;
	color: black;
}

.bar1,
.bar2,
.bar3 {
	width: 35px;
	height: 5px;
	background-color: #333;
	margin: 6px 0;
	transition: 0.4s;
}

.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
	opacity: 0;
}

.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
}

/*********************NAVIGATION END******************/

/*********************FOOTER**************************/
#footer {
	grid-row: 11/12;
	background-color: #333;
	width: 100vw;
	/*	padding: 1rem 1rem;*/
	text-align: center;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: repeat(3, 1fr);
}

#footer p {
	color: white;
	font-size: 0.8rem;
}

.copyright:before {
	content: "\00a9";
}

.footer_logo {
	max-width: 200px;
	margin-top: 0.5rem;
}

#footer_names {
	grid-row: 1/2;
	grid-column: 2/3;
	align-self: center;
}

#footer_partner {
	grid-row: 2/3;
	grid-column: 2/3;
}

#footer_semester {
	grid-row: 3/4;
	grid-column: 2/3;
	align-self: center;
}

#footer_links {
	grid-row: 1/3;
	grid-column: 3/4;
	display: grid;
	display: none;
}

#footer_links a {
	text-decoration: none;
	color: white;
}

/*********************************************************/
/*********screen width**************/

/***********************MOBIL PORTRAIT*****************/
@media screen and (min-width:375px) and (orientation:portrait) {
	#splash {
		height: 20vh;
	}

	#game iframe {
		width: 362px;
		height: 362px;
	}

	.iframe_video {
		width: 370px;
		height: 270px;
		margin-top: 10%;
	}
}

/*****************TABLET*******************/
@media screen and (min-width:768px) and (max-width:1024px) and (orientation:landscape) {
	body {
		grid-template-columns: repeat(4, 1fr);
		grid-template-areas: "splash splash splash splash"
			". text text ."
			"game game game game"
			"video video video video"
			"infographic infographic infographic infographic"
			"footer footer footer footer";
		grid-row-gap: 5vh;
		grid-template-rows: auto 12vh auto auto;
	}

	#splash {
		grid-area: splash;
		height: 35vh;
	}

	.text_intro {
		grid-area: text;
		padding: 0px;
		align-self: center;
	}

	#game {
		grid-area: game;
		grid-template-columns: auto;
	}

	#game iframe {
		width: 462px;
		height: 462px;
	}

	#video {
		grid-area: video;
		grid-template-columns: auto;
	}

	.headline_video {
		grid-column: 2/4;
	}

	.wrapper_video {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
		grid-column-gap: 5vw;
	}

	.iframe_video {
		width: 384px;
		height: 284px;
		padding: 5px;
	}

	.video1 {
		grid-column: 1/2;
		grid-row: 1/2;
	}

	.video2 {
		grid-column: 2/3;
		grid-row: 1/2;
	}

	.video3 {
		grid-column: 1/2;
		grid-row: 2/3;
	}

	.video4 {
		grid-column: 2/3;
		grid-row: 2/3;
	}

	.video5 {
		grid-column: 1/2;
		grid-row: 3/4;
	}

	#infographic {
		grid-area: infographic;
	}

	.headline_infographic {
		align-self: center;
	}

	.img_info {
		width: 50vw;

	}

	nav {
		max-height: 55px;
	}

	#my_navbar {
		overflow: hidden;
		grid-template-rows: none;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		top: 0;
		height: 55px;
	}

	.navbar {
		bottom: auto;
	}


	a.nav1 {
		grid-column: 1/2;
	}

	a.nav2 {
		grid-column: 2/3;
	}

	a.nav3 {
		grid-column: 3/4;
	}

	a.nav4 {
		grid-column: 4/5;
	}

	#burgermenu {
		text-align: center;
		margin-top: 10px;
	}

	.burger {
		display: none;
	}

	#footer {
		grid-area: footer;
	}

	#footer_links {
		display: grid;
		margin-top: 1rem;
	}

	#footer_links a:hover {
		color: #d6d6d6;
	}

}

@media screen and (min-width:668px) and (orientation:portrait) {
	body {
		grid-template-columns: repeat(4, 1fr);
		grid-template-areas: "splash splash splash splash"
			". text text ."
			"game game game game"
			"video video video video"
			"infographic infographic infographic infographic"
			"footer footer footer footer";
		grid-row-gap: 3vh;
		grid-template-rows: 23vh;
	}

	#splash {
		height: 22vh;
	}

	.text_intro {
		grid-area: text;
		padding: 0px;
	}

	#game {
		grid-area: game;

		grid-template-columns: auto 2fr auto;
	}

	#game iframe {
		width: 462px;
		height: 462px;
	}

	#video {
		grid-area: video;
		grid-template-columns: auto;
	}

	.headline_video {
		grid-column: 2/4;
	}

	.wrapper_video {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
		grid-column-gap: 5vw;
	}

	.iframe_video {
		width: 284px;
		height: 184px;
		padding: 5px;
	}


	.video1 {
		grid-column: 1/2;
		grid-row: 1/2;
	}

	.video2 {
		grid-column: 2/3;
		grid-row: 1/2;
	}

	.video3 {
		grid-column: 1/2;
		grid-row: 2/3;
	}

	.video4 {
		grid-column: 2/3;
		grid-row: 2/3;
	}

	.video5 {
		grid-column: 1/2;
		grid-row: 3/4;
	}

	#infographic {
		grid-area: infographic;
	}

	/* .headline_infographic {} */

	.img_info {
		width: 50vw;
	}

	#footer {
		grid-area: footer;
	}

}

/*******************DESKTOP*************************/
@media screen and (min-width: 1025px) and (orientation: landscape) {

	body {
		grid-template-columns: repeat(4, 1fr);
		grid-template-areas: "splash splash splash splash"
			". text text ."
			"game game game game"
			"video video video video"
			"infographic infographic infographic infographic"
			"footer footer footer footer";
		grid-row-gap: 10vh;
		grid-template-rows: auto 15vh auto auto;
	}

	#splash {
		grid-area: splash;
		height: 50vh;
	}

	.text_intro {
		grid-area: text;
		padding: 0px;
	}

	#game {
		grid-area: game;
		grid-column: 2/4;
		grid-template-columns: auto;
	}

	#game iframe {
		width: 734px;
		height: 734px;
	}

	#video {
		grid-area: video;
		grid-template-columns: auto;
	}

	.headline_video {
		grid-column: 2/4;
	}

	.wrapper_video {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
		grid-column-gap: 5vw;
	}

	.iframe_video {
		padding: 5px;
		width: 400px;
		height: 400px;
	}

	.video1 {
		grid-column: 1/2;
		grid-row: 1/2;
	}

	.video2 {
		grid-column: 2/3;
		grid-row: 1/2;
	}

	.video3 {
		grid-column: 1/2;
		grid-row: 2/3;
	}

	.video4 {
		grid-column: 2/3;
		grid-row: 2/3;
	}

	.video5 {
		grid-column: 1/2;
		grid-row: 3/4;
	}

	#infographic {
		grid-area: infographic;
		grid-template-rows: auto 2fr auto;
		margin: 150px 0;
	}

	.headline_infographic {
		margin: 50px 0;
		text-align: center;
	}

	.img_info {
		width: 50vw;
	}

	.info_link {
		justify-self: center;
		margin: 50px 0;
	}

	.info_link_partner {
		justify-self: start;
	}

	.info_link_download {
		justify-self: end;
	}


	nav {
		max-height: 55px;
	}

	#my_navbar {
		overflow: hidden;
		grid-template-rows: none;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		top: 0;
		height: 55px;
	}

	.navbar {
		bottom: auto;
	}


	a.nav1 {
		grid-column: 1/2;
	}

	a.nav2 {
		grid-column: 2/3;
	}

	a.nav3 {
		grid-column: 3/4;
	}

	a.nav4 {
		grid-column: 4/5;
	}

	#burgermenu {
		text-align: center;
		margin-top: 10px;
	}

	.burger {
		display: none;
	}

	#footer {
		grid-area: footer;
	}

	#footer p {
		font-size: 1rem;
	}

	#footer_links {
		margin-top: 1.2rem;
		display: grid;
	}

	#footer_links a:hover {
		color: #d6d6d6;
	}
}

/************RETINA DESKTOP*****************/

@media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1025px),
screen and (min-resolution: 192dpi) and (min-width: 1025px) {
	body {
		grid-template-columns: repeat(4, 1fr);
		grid-template-areas: "splash splash splash splash"
			". text text ."
			"game game game game"
			"video video video video"
			"infographic infographic infographic infographic"
			"footer footer footer footer";
		grid-row-gap: 10vh;
		grid-template-rows: auto 15vh auto auto;
	}

	#splash {
		grid-area: splash;
	}

	.text_intro {
		grid-area: text;
		padding: 0px;
	}

	#game {
		grid-area: game;
		grid-column: 2/4;
		grid-template-columns: auto;
	}

	#game iframe {
		width: 734px;
		height: 634px;
	}

	#video {
		grid-area: video;
		grid-template-columns: auto;
	}

	.headline_video {
		grid-column: 2/4;
	}

	.wrapper_video {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
		grid-column-gap: 5vw;
	}

	.iframe_video {
		padding: 5px;
	}

	.video1 {
		grid-column: 1/2;
		grid-row: 1/2;
	}

	.video2 {
		grid-column: 2/3;
		grid-row: 1/2;
	}

	.video3 {
		grid-column: 1/2;
		grid-row: 2/3;
	}

	.video4 {
		grid-column: 2/3;
		grid-row: 2/3;
	}

	.video5 {
		grid-column: 1/2;
		grid-row: 3/4;
	}

	#infographic {
		grid-area: infographic;
		grid-template-rows: auto 2fr auto;
		margin: 150px 0;
	}

	.headline_infographic {
		margin: 50px 0;
		text-align: center;
	}


	.img_info {
		width: 50vw;
	}

	.info_link {
		justify-self: center;
		margin: 50px 0;
	}


	nav {
		max-height: 55px;
	}

	#my_navbar {
		overflow: hidden;
		grid-template-rows: none;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		top: 0;
		height: 55px;
	}

	.navbar {
		bottom: auto;
	}


	a.nav1 {
		grid-column: 1/2;
	}

	a.nav2 {
		grid-column: 2/3;
	}

	a.nav3 {
		grid-column: 3/4;
	}

	a.nav4 {
		grid-column: 4/5;
	}

	#burgermenu {
		text-align: center;
		margin-top: 10px;
	}

	.burger {
		display: none;
	}

	#footer {
		grid-area: footer;
	}
}
