/* variabel that works on the whole document */
:root {
	--gamewidth: 100vw;
}

/* style for the whole document */
* {
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

h1 {
	text-align: center;

}

h2 {
	text-align: center;
}

.hide {
	display: none;
}

/* ---------------- fade ---------------- */

#fadeId {
	width: var(--gamewidth);
	height: var(--gamewidth);
	opacity: 0;
}

.fade {
	animation-name: fade_kf;
	animation-duration: 1.5s;
	animation-iteration-count: 1;
	animation-timing-function: steps(100);
	animation-fill-mode: forwards;
	background-color: black;
	z-index: 10000;
}

@keyframes fade_kf {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.fade_up {
	animation-name: fade_up_kf;
	animation-duration: 1.5s;
	animation-iteration-count: 1;
	animation-timing-function: steps(100);
	animation-fill-mode: forwards;
	background-color: black;
	z-index: 10000;
}

@keyframes fade_up_kf {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

/* ---------------- startGame ------------------*/
#startGame {
	background-color: #20BA2F;
	border-color: #14991E;
	border-style: solid;
	border-width: 4px;
	width: 50px;
	height: 20px;
	text-align: center;
	position: absolute;
	top: 325px;
	left: 290px;
}

/* --------------------titlepage---------------- */
.bounce {
	animation-name: bounce_kf;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: steps(2);
	/* animation-fill-mode: both; */
	/* transition-timing-function: cubic-bezier(.01,.93,.83,.67); */
}

@keyframes bounce_kf {
	0% {
		transform: rotate(10deg);
	}

	100% {
		transform: rotate(-20deg);
	}
}

/* --------------- game ------------------ */

#gamewrapper {
	width: var(--gamewidth);
	height: var(--gamewidth);
	max-width: 800px;
	overflow: hidden;
	position: absolute;
}

#livingroom {
	background-image: url(/img/backgrounds/livingroom.png);
	background-repeat: no-repeat;
	background-size: 100%;
	width: var(--gamewidth);
	height: var(--gamewidth);
	max-width: 800px;
	overflow: hidden;
	position: absolute;
	top: 0;
	z-index: 1;
}

#door {
	background-image: url(/img/backgrounds/livingroom_front.svg);
	background-repeat: no-repeat;
	background-size: 23%;
	width: var(--gamewidth);
	height: var(--gamewidth);
	max-width: 800px;
	overflow: hidden;
	position: absolute;
	top: 0;
	z-index: 4;
}

#kitchen {
	background-image: url(/img/backgrounds/kitchen.png);
	background-repeat: no-repeat;
	background-size: 100%;
	width: var(--gamewidth);
	height: var(--gamewidth);
	max-width: 800px;
	overflow: hidden;
	position: absolute;
	top: 0;
}

#kitchen_front {
	background-image: url(/img/backgrounds/kitchen_front.png);
	background-repeat: no-repeat;
	background-size: 100%;
	width: var(--gamewidth);
	height: var(--gamewidth);
	max-width: 800px;
	overflow: hidden;
	position: absolute;
	top: 0;
}

#schoolparty {
	background-image: url(/img/backgrounds/school_party.png);
	background-repeat: no-repeat;
	background-size: 100%;
	width: var(--gamewidth);
	height: var(--gamewidth);
	max-width: 800px;
	overflow: hidden;
	position: absolute;
	top: 0;
}
#later_container {
background-color: aqua;
width: var(--gamewidth);
	height: var(--gamewidth);
	max-width: 800px;
	overflow: hidden;
	position: absolute;
	top: 0;

}
.later_fade {
	animation: text_fade_kf 5s 1 forwards;
	animation-delay: 2s;
}

@keyframes text_fade_kf {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

/* --------- s9 smokingarea -------------- */

#light_blue {
	background-image: url(/img/backgrounds/blå_lys.svg);	
	background-repeat: no-repeat;
	background-size: 100%;
	width: var(--gamewidth);
	height: var(--gamewidth);
	max-width: 800px;
	overflow: hidden;
	position: absolute;
	top: -86px;
	left: -25px;
	transform: scale(0.4);

}
#light_green {
	background-image: url(/img/backgrounds/grøn_lys.svg);	
	background-repeat: no-repeat;
	background-size: 100%;
	width: var(--gamewidth);
	height: var(--gamewidth);
	max-width: 800px;
	overflow: hidden;
	position: absolute;
	top: -86px;
  left: -154px;
  transform: scale(0.4);

}
#light_purple {
	background-image: url(/img/backgrounds/lilla_lys.svg);	
	background-repeat: no-repeat;
	background-size: 100%;
	width: var(--gamewidth);
	height: var(--gamewidth);
	max-width: 800px;
	overflow: hidden;
	position: absolute;
	top: -86px;
	left: -48px;
	transform: scale(0.4);

}
#smokingarea_bg {
	background-image: url(/img/backgrounds/rygergård_bg.png);	
	background-repeat: no-repeat;
	background-size: 100%;
	width: var(--gamewidth);
	height: var(--gamewidth);
	max-width: 800px;
	overflow: hidden;
	position: absolute;
}

#smokingarea {
	background-image: url(/img/backgrounds/rygergård.png);	
	background-repeat: no-repeat;
	background-size: 100%;
	width: var(--gamewidth);
	height: var(--gamewidth);
	max-width: 800px;
	overflow: hidden;
	position: absolute;

}


#titlepage {
	width: var(--gamewidth);
	/* height: var(--gamewidth); */
	max-width: 800px;
	background-color: bisque;
	background-size: 100%;
	position: absolute;
	padding: 0 0 30px 0px;
}

#intro {
	background-image: url(/img/backgrounds/frontpage.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	width: var(--gamewidth);
	height: var(--gamewidth);
	max-width: 800px;
	overflow: hidden;
	position: absolute;
}

#choice_text_container_v2,
#choice_text_container_v3,
#choice_text_container_v4,
#choice_text_container_v5,
#choice_text_container_v6,
#choice_text_container_v7,
#choice_text_container_v8,
#choice_text_container_v9,
#choice_text_container_v10,
#choice_text_container_v11,
#choice_text_container_v12 {
  width: var(--gamewidth);
  background-color: aqua;

}

#choice_text_container_v2 img,
#choice_text_container_v3 img,
#choice_text_container_v4 img,
#choice_text_container_v5 img,
#choice_text_container_v6 img,
#choice_text_container_v7 img,
#choice_text_container_v8 img,
#choice_text_container_v9 img,
#choice_text_container_v10 img,
#choice_text_container_v11 img,
#choice_text_container_v12 img {
max-width: var(--gamewidth);
position: relative;
z-index: 1000;
}

#choice_text_container_v2 p,
#choice_text_container_v3 p,
#choice_text_container_v4 p,
#choice_text_container_v5 p,
#choice_text_container_v6 p,
#choice_text_container_v7 p,
#choice_text_container_v8 p,
#choice_text_container_v9 p,
#choice_text_container_v10 p,
#choice_text_container_v11 p,
#choice_text_container_v12 p {
  max-width: var(--gamewidth);
  position: absolute;
  font-size: 1.2em;
  }

  /* --------------- choices ---------------------- */
.text_a,
.text_c {
  top: 30px;
  left: 15px;
}
.text_b,
.text_d {
  top: 190px;
  left: 15px;
}

/* ---------------------- select character ----------------*/
.player_text {
	text-align: center;
	line-height: 2em;
	font-size: 2em;
}

.player {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 27%;
}

/* -------------------------------- Oliver --------------------------- */

#oliver_container_s1,
#oliver_container_s2,
#oliver_container_s4,
#oliver_container_s9,
#oliver_container_s10,
#oliver_container_s11,
#oliver_container_s21 {
    position: absolute;
    z-index: 4;
}

.oliver_start_pos {
	left: 45%;
	top: 19%;
}

#oliver_sprite_s1,
#oliver_sprite_s2,
#oliver_sprite_s4,
#oliver_sprite_s9,
#oliver_sprite_s10,
#oliver_sprite_s11,
#oliver_sprite_s21 {
    background-image: url(img/spritesheets/Oliver_spritesheet.svg);
    width: 60vw;
    height: 115vw;
    background-size: 900% 300%;
   
}

/* ------------------- Oliver s1 -------------- */

.oliver_talkcycle {
	animation-name: oliver_talkcycle_kf;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: steps(5);
	animation-fill-mode: both;

}

@keyframes oliver_talkcycle_kf {
	0% {
		background-position: 0% 0%;
	}

	100% {
		background-position: -500% 0%;
	}
}

.oliver_walk_to_kitchen {
	animation-name: oliver_walk_to_kitchen_kf;
	animation-duration: 4s;
	animation-iteration-count: 1;
	animation-fill-mode: both;
	animation-timing-function: ease;
}

@keyframes oliver_walk_to_kitchen_kf {
	0% {
		left: 45%;
		top: 19%;
	}

	85% {
		left: -15%;
		top: -23%;
		transform: scale(0.26);
	}

	100% {
		left: -30%;
		top: -23%;
		transform: scale(0.26);
	}
}

.oliver_walkcycle {
	animation-name: oliver_walkcycle_kf;
	animation-duration: 1s;
	animation-iteration-count: 4;
	animation-timing-function: steps(9);
	animation-fill-mode: both;
}

@keyframes oliver_walkcycle_kf {
	0% {
		background-position: 0% -200%;
	}

	100% {
		background-position: -900% -200%;
	}
}

/* ------ oliver in s2 -------- */

.oliver_walk_into_kitchen,
.maria_walk_into_kitchen {
	animation-name: oliver_walk_into_kitchen_kf;
	animation-duration: 4s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
}

@keyframes oliver_walk_into_kitchen_kf {
	0% {
		left: 75%;
		top: -3%;
		transform: scale(0.4);
	}

	25% {
		left: 50%;
		top: -3%;
		transform: scale(0.4)
	}

	100% {
		left: 32%;
		top: 20%;
		transform: scale(1);

	}
}

/* ------ oliver in s4 -------- */
.oliver_walkcycle_right {
	animation-name: oliver_walkcycle_right_kf;
	animation-duration: 1s;
	animation-iteration-count: 4;
	animation-timing-function: steps(9);
	animation-fill-mode: forwards;
}

@keyframes oliver_walkcycle_right_kf {
	0% {
		background-position: 0% -100%;
	}

	100% {
		background-position: -900% -100%;
	}
}

.oliver_walk_into_livingroom {
	animation-name: oliver_walk_into_livingroom_kf;
	animation-duration: 4s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
}

@keyframes oliver_walk_into_livingroom_kf {
	0% {
		left: -30%;
		top: -23%;
		transform: scale(0.26);
	}

	15% {
		left: -15%;
		top: -23%;
		transform: scale(0.26);
	}

	100% {
		left: 45%;
		top: 19%;
	}
}

.oliver_start_pos_kitchen {
	left: 204px;
	top: 51px;
}

/* ------------- oliver s9 ------- */

.oliver_start_pos_s9 {
	left: 190px;
	top: -18px;
	transform: scale(0.5);
	z-index: 0;
}

/* -------------- oliver s11 -------------- */

.oliver_start_pos_s11 {
	left: 47%;
	top: 20%;
	transform: scale(1);
}

/* ----------------oliver s21------------------- */

.oliver_walks_to_maria_s21 {
	animation-name: oliver_walks_to_maria_s21_kf;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
}

@keyframes oliver_walks_to_maria_s21_kf {
	0% {
	top: 56%;
	left: 106%;
	transform: scale(2.5);
	}

	100% {
		top: 73%;
    left: 47%;
    transform: scale(2.5);
	}
}

/* ---------------------- Maria -----------------------------*/

#maria {
	cursor: pointer;
}

#maria_container_s1,
#maria_container_s4,
#maria_container_s5,
#maria_container_s9,
#maria_container_s9_smoking,
#maria_container_s10,
#maria_container_s11,
#maria_container_s21 {
  position: absolute;
  z-index: 4;
}

.maria_start_pos {
	left: 5%;
	top: 19%;
}

.maria_start_pos_s9_smoking {
	left: 31%;
	top: -4%;
	transform: scale(0.7);
}

.maria_start_pos_s21 {
	left: -2%;
	top: 80%;
	transform: scale(2.5);
}


#maria_sprite_s1,
#maria_sprite_s4, 
#maria_sprite_s5,
#maria_sprite_s9,
#maria_sprite_s9_smoking,
#maria_sprite_s10,
#maria_sprite_s11,
#maria_sprite_s21 {
  background-image: url(img/spritesheets/maria_spritesheet.svg);
  width: 48vw;
  height: 116vw;
  background-size: 900% 200%;
  
}

.maria_talkcycle {
	animation-name: maria_talkcycle_kf;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: steps(5);
	animation-fill-mode: both;
}

@keyframes maria_talkcycle_kf {
	0% {
		background-position: 0% 0%;
	}

	100% {
		background-position: -500% 0%;
	}
}

.maria_walkcycle {
	animation-name: maria_walkcycle_kf;
	animation-duration: 1s;
	animation-iteration-count: 4;
	animation-timing-function: steps(9);
	animation-fill-mode: both;
}

@keyframes maria_walkcycle_kf {
	0% {
		background-position: 0% -100%;
	}

	100% {
		background-position: -900% -100%;
	}
}

/* maria storms out */

.maria_storms_out {
	animation-name: maria_storms_out_kf;
	animation-duration: 4s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
}

@keyframes maria_storms_out_kf {
	0% {
		left: 5%;
		top: 19%;
	}

	100% {
		left: -37%;
		top: 19%;
	}
}

/* --------------- maria s11 -----------------*/

.maria_start_pos_s11 {
	left: 24%;
	top: 20%;
	transform: scale(1);
}



/* ------------ Sif -----------------*/

#sif_container_s2,
#sif_container_s11 {
  position: absolute;
  z-index: 3;
}

.sif_start_pos {
	left: 2%;
	top: 19%;
}

#sif_sprite_s2,
#sif_sprite_s11 {
  background-image: url(img/spritesheets/sifSpritesheet.svg);
  width: 39vw;
  height: 116vw;
  background-size: 500% 100%;
}

.sif_talkcycle {
	animation-name: sif_talkcycle_kf;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: steps(5);
	animation-fill-mode: both;
}

@keyframes sif_talkcycle_kf {
	0% {
		background-position: 0% 0%;
	}

	100% {
		background-position: -500% 0%;
	}
}


/* ----------------- sif s21 ------------------ */
.sif_walk_out_of_kitchen {
	animation-name: sif_walk_out_of_kitchen_kf;
	animation-duration: 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
}

@keyframes sif_walk_out_of_kitchen_kf {
	0% {
		left: 2%;
		top: 19%;
	}
	
	75% {
		left: 50%;
		top: -3%;
		transform: scale(0.4)
	}
	
	100% {
		left: 90%;
	top: -3%;
	transform: scale(0.4);
	}
}

/* ------------------ Dance People ---------------------- */

#dance_people_container {
	position: absolute;
	z-index: 3;
}

#dance_people_container_s9 {
	position: absolute;
	z-index: 0;
}


.dance_people_start_pos {
	left: 0%;
	top: 10%;
}
.dance_people_start_pos_s9 {
	left: -44%;
	top: 10%;
}

/* .dance_people_start_pos_s9_smoking {
	left: -44%;
	top: -4%;
	z-index: 0;
	transform: scale(0.5);
} */


#dance_people_sprite {
	background-image: url(img/spritesheets/dans.svg);
	width: 125vw;
	height: 71vw;
	background-size: 600% 200%;
}

.dance_people_dancecycle {
	animation-name: dance_people_talkcycle_kf;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: steps(6);
	animation-fill-mode: both;
}

@keyframes dance_people_talkcycle_kf {
	0% {
		background-position: 0% -100%;
	}

	100% {
		background-position: -600% -100%;
	}
}

/*********************CLOCK*************************/
#clock_container {
	visibility: visible;

}

.hide {
	display: none;
}

#clock_container svg {
	width: var(--gamewidth);
	height: var(--gamewidth);
	max-width: var(--gamewidth);
	z-index: 100;
	position: absolute;
	transform: scale(0.9);

}

#prik_i_midten {
	transform: scale(1.5);
	transform-origin: 50% 50%;
}

#minut_viser {
	animation: clockrotate 4s infinite linear;
	transform-origin: 50% 50%;
}

#ur_ramme {
	background-color: #14991E;
	opacity: 1;
}

#time_viser {
	transform-origin: 50% 50%;
	animation: clockrotate 10s infinite linear;
}

@keyframes clockrotate {
	100% {
		transform: rotateZ(360deg);
	}
}
